@media (min-width: 1300px) and (max-width: 1399px) {
    .header-social {
      left: 10px;
    }
  }
  @media (max-width: 1300px) {
    .header-social {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .navbar .menu {
      position: fixed;
      left: -100%;
      top: 80px;
      flex-direction: column;
      background-color: var(--main-color);
      width: 100%;
      text-align: center;
      transform: all 0.5s ease;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navbar .menu.active {
      left: 0;
    }
    .navbar.sticky .menu {
      background-color: var(--white);
      top: 65px;
    }
    .navbar .menu .nav-item {
      display: block;
      margin: 6px 0;
    }
    .navbar.sticky .menu .nav-item .nav-link {
      color: var(--main-color);
    }
    .navbar .nav-item .nav-link span {
      display: none;
    }
    .navbar .menu-btn {
      display: block;
      z-index: 99;
    }
    .header-hero-shape {
      display: none;
    }
    .home-section {
      padding: 20px;
      padding-top: 80px;
    }
    .home-section .home-image,
    .home-section .home-text {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .home-section .home-image {
      display: flex;
      justify-content: center;
    }
    .home-image .img-box {
      margin-top: 30px;
    }
    .about-section .about-image {
      display: none;
    }
    .about-section .about-content {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .about-section .about-content .section-title {
      text-align: center;
    }
    .portfolio .portfolio-item,
    .experience-section .experience-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .header-social {
      display: block;
      left: 90%;
    }
  }
  @media (max-width: 767px) {
    .home-section,
    .experience-section .experience-item,
    .portfolio .portfolio-item,
    .contact-section .contact-item,
    .contact-section .w-50,
    .about-section .about-content {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .header-social {
      display: block;
      left: 85%;
    }
  }
  
  @keyframes lightboxImage {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes showItem {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  